<!DOCTYPE html>
<html>
<head>
    <title>Gender Affirming Care Search</title>
</head>
<body>
    <h1>Gender Affirming Care Search</h1>

    <form action="/results" method="POST">
        <label for="provider_name">Provider Name:</label>
        <input type="text" id="provider_name" name="provider_name"><br><br>

        <label for="care_type">Care Type:</label>
        <input type="text" id="care_type" name="care_type"><br><br>

        <input type="submit" value="Search">
    </form>
    {% block results %}{% endblock results %}
</body>
</html>
